@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

*,
html,
body {
  font-family: "Inter";
}

@layer base {
  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    border-radius: theme("borderRadius.md");
    background-color: theme("colors.lightSecondary");
  }
}
html {
  font-size: 100%;
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 70.5%;
  }
}
